$bodyBgColor: #c5e4e7;;
$buttonBgColor: #00494d;
$dataFontColor: #5e7a7d;
$FontColor: #7f9c9f;
$FontsColor: #c5e4e7;
$resultFontColor: #f4fafa;
$calcBgColor: #ffffff;
$mainFont: 'Space Mono', monospace;
$resetBgColor: #26c0ab;